@charset "utf-8";
.header .nav-bar {
  background-color: #1E9FFF;
}
.header .nav-bar .menu-navbar .layui-nav {
  padding: initial;
}
.main .help-item .help-list h4 {
  font: 600 16px/40px ":Microsoft YaHei";
}
.main .help-item .help-list p {
  font: 500 15px/30px ":Microsoft YaHei";
}
